.block-text {
  fill: white;
  font-size: 12pt;
}

.move-block-path {
  fill: #4c97ff;
}

.group-highlighted path {
  stroke: red;
}

.param-input {
  position: absolute;
  border: none;
  padding: 0;
}
