.block-text {
  fill: white;
  font-size: 12pt;
}

.motion-block-path {
  fill: #4c97ff;
}

.sound-block-path {
  fill: rgb(207, 99, 207);
}

.group-highlighted path {
  stroke: red;
}

.param-input {
  position: absolute;
  border: none;
  padding: 0;
}
