.editing-target-preview {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 30px;
  opacity: 0.5;
}

.script-editor {
  position: relative;
  width: 100%;
  height: 100%;
}

.script-editor-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
