.resizeable-content {
  flex: 1;
  overflow: hidden;
}

.resizeable-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resize-bar {
  height: 2px;
  background-color: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.resize-bar .move-bar {
  cursor: pointer;
  width: 40px;
  height: 8px;
  background-color: var(--grey);
}
