.resizeable-content {
  flex: 1;
  overflow: hidden;
}

.resizeable-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resize-bar {
  height: 2px;
  background-color: var(--light-grey);
  cursor: pointer;
  position: relative;
}

.resize-bar::after {
  content: " ";
  width: 10px;
  height: 10px;
  background-color: blue;
  position: absolute;
  left: 50%;
  top: -5px;
}
